* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background-color: red;
    width: 400px;
    height: 400px;
    overflow: scroll;
}

.center {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.watch {
    background-color: #424242;
    width: 250px;
    height: 250px;
    border-radius: 16px;
}

.watch::after {
    background-color: #242424;
    width: 230px;
    height: 230px;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: yellow;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}